# numpy limitation

In [ ]:
import numpy
# type coercion
n1 = np.array([[1, 2, 3], [4, 5, 6]])
print(n1)
n2 = np.array([[1, 2, 3], [4.0, 5.4, 6.2]])
print(n2)
n3 = np.array([[1, 2, 3], [4.0, 5, 'abc']])
print(n3)

In [ ]:
# dictionary

# Series Data Structure

In [ ]:
import pandas as pd

In [ ]:
my_data=[10,20,30,40,50]
# s1 = pd.Series(data=my_data,index=['a', 'b', 'c', 'd', 'e'])
s1 = pd.Series(data=my_data)
print(s1)

In [ ]:
import pandas as pd
d={'w':10,'x':20,'y':30,'z':40}      
#dictionary keys act as index and values with every key act as series values
s2 = pd.Series(d)
print(s2)

In [ ]:
# Addition of two series
# import pandas as pd
ser1=pd.Series([1,2,3,4],['India','Srilanka', 'Bangladesh', 'Russia'])   

ser2=pd.Series([1,2,5,9],['India','Srilanka', 'Bangladesh', 'Russia'])

# ser2=pd.Series([1,2,5,9],['India', 'Srilanka','Bangladesh', 'Bhutan'])
ser1+ser2

# DataFrame Data Structure

In [ ]:
# print(pd.DataFrame.__doc__)

In [ ]:
# Create Dataframe & Select columns
from numpy.random import randn
import pandas as pd
np.random.seed(10)
df1=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])  
# df1
#generate random number for 5 rows and 4 columns
print(df1)
print(df1['W'])
print(df1[['W','Z']])

## Data Manipulation: Data selection

In [ ]:
# DataFrame.loc() will select rows by index values
# DataFrame.iloc() will select rows by rows numbers
print(df1)
print(df1.loc['A']) # fetch particular row from dataset having index ‘A’
print(df1.iloc[3]) # fetch 3rd row from dataset
print(df1.loc[['A','C'],['X','Z']]) # fetch a subset of data from given dataset

In [ ]:
print(df1)

In [ ]:
df1.drop('A',axis=0,inplace=False)
# df1.drop('W',axis=1,inplace=False)
# df1.drop('W',axis=1,inplace=True)

In [ ]:
print(df1)

In [ ]:
from numpy.random import randn
import pandas as pd
np.random.seed(101)
df2=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
print(df2)

In [ ]:
df2[df2['W']>0]
df2[df2['W']>0][['X','Y']]
# fetch out desired frame of X & Y from dataset, for those rows where value is more than 0 in ‘W’ column

# df3=df2.reset_index() #assign natural index
# df3=df2.set_index('Z') #set ‘Z’ column as index value
# df4 = df3.reset_index()
# df4

### Drop missing Values

In [ ]:
# import pandas as pd
# import numpy as np
d={'A':[1,2,np.NaN], 'B':[1,np.NaN,np.NaN],'C':[1,2,3]}     
# np.NaN is the missing element in DataFrame
df4=pd.DataFrame(d)
print(df4)

In [ ]:
# df4.dropna()         #pandas would drop any row with missing value
# df4.dropna(axis=1)   #drop column with NULL value
df4.dropna(thresh=2) #Require <2 non-NA values to drop row.

### Groupby

In [ ]:
data = {'Company': [ 'CompA', 'CompA', 'CompB', 'CompB', 'CompC', 'CompC'],
        'Person': ['Rajesh', 'Pradeep', 'Amit', 'Rakesh', 'Suresh', 'Raj'],
        'Sales': [200, 120, 340, 124, 243, 350]}
df6=pd.DataFrame(data)
print(df6)
comp=df6.groupby("Company")             #grouping done using label name “Company”
print(comp.mean())                      #mean appliead on grouped data
# comp_std=df6.groupby("Company").std()   #grouping done + standard deviation applied”
# comp_std   
# df6.groupby("Company").sum().loc["CompB"]
# list(comp)

In [ ]:
data = {'Company': [ 'CompA', 'CompA', 'CompB', 'CompB', 'CompC', 'CompC'],
        'Person': ['Rajesh', 'Pradeep', 'Amit', 'Rakesh', 'Suresh', 'Raj'],
        'Sales': [200, 120, 340, 124, 243, 350]}
df6=pd.DataFrame(data)
print(df6)
df6.groupby("Company").max()
#group dataset based on ‘company’ label and pick maximum value in each label

### Finding unique value & number of occurrence from Dataframe

In [ ]:
df7 = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
# col1, col2 & col3 are column labels, each column have their own values
df7
# df7['col2'].unique()#fetches the unique values available in column
df7['col2'].value_counts()# count number of occurance of every value

In [ ]:
type(df7['col2'])

In [ ]:
type(df7[['col2']])

## File Handling

In [ ]:
# csv
# df1 = pd.read_csv('Data/covid_19_india.csv')

df2 = pd.DataFrame({'C1' : [1, 2, 3], 'C2' : [4, 5, 6], 'C3' : [7, 8, 9]})
print(df2)
df2.to_csv('Data/new.csv')

In [ ]:
# df1

In [ ]:
df3 = pd.read_excel('Data/Demo.xlsx',sheet_name='Sheet1')
df4 = pd.read_excel('Data/Demo.xlsx',sheet_name='Sheet2')
df5 = pd.DataFrame({'C1' : [1, 1, 1], 'C2' : [2, 2, 2], 'C3' : [3, 3, 3]})
df5.to_excel('Data/new.xlsx', sheet_name='a')

# Statistics

In [ ]:
# Covariance is applied on series data.
# The Series object has a method cov() to compute covariance between series objects.
# NA will be excluded automatically.
# from numpy.random import randn
# np.random.seed(101)
# s1 = pd.Series(randn(10))
# np.random.seed(101)
# # s2 = pd.Series(randn(10))
# s2 = pd.Series(randn(10)*(-1))
s1 = pd.Series([-5,-2.5,0,2.5,5])
s2 = pd.Series([5,-5,5,-5,5])
import matplotlib.pyplot as plt
plt.scatter(s1,s2)

In [ ]:
print(s1.cov(s2))

In [ ]:
# Correlation shows the linear relationship between any two array of values,
# available in series. 
# There are multiple methods to compute the correlation 
        # like pearson(default), spearman and kendall.
# from numpy.random import randn
# np.random.seed(101)
# s1 = pd.Series(randn(10))
# np.random.seed(101)
# # s2 = pd.Series(randn(10))
# s2 = pd.Series(randn(10)*(-1))
s1 = pd.Series([-5,-2.5,0,2.5,5])
s2 = pd.Series([5,-5,5,-5,5])
import matplotlib.pyplot as plt
plt.scatter(s1,s2)

In [ ]:
print(s1.corr(s2))

In [ ]:
# Data Ranking
s = pd.Series([6,8,7,9,5], index=list('abcdef'))
# s['a'] = s['d'] # so there's a tie
for i in range(5):
     print(s[i],'\t', s.rank()[i])